<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:head>
	  <meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		
		<title>T. S. J. del Estado de Guerrero</title>

	</h:head>
 
	 <h:body class="hold-transition sidebar-mini">
		<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form">

					<span class="login100-form-title">
						<!--<img src="images/VWletter.png">-->
						<img src="resources/img/VWLetter.jpg" style="width:370px;height:81px;"/>
					</span>
					<br/>
					<span class="login100-form-title">
						Iniciar Sesión
					</span>
 
					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
						<input class="input100" type="text" name="username"></input>
						<span class="focus-input100" data-placeholder="Usuario"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input class="input100" type="password" name="pass"></input>
						<span class="focus-input100" data-placeholder="Contraseña"></span>
					</div>

					<div class="container-login100-form-btn">
						<input type="button" class="login100-form-btn" 
								onclick="redireccionar()"
								value="Ingresar"></input>
					</div>
				</form>
			</div>
		</div>
	</div>
	
    
    <h:outputScript library="css" name="plugins/jquery/jquery.min.js" />
    <!-- Bootstrap 4 -->
    <h:outputScript library="css" name="plugins/bootstrap/js/bootstrap.bundle.min.js" />
   	
   	
   	<h:outputScript library="js" name="main.js" />
   	
	<script type="text/javascript">

	jQuery(document).ready(function() {

		$('#aceptar').click(function(){
	    	window.location="/PortalVicepresidencia/pages/RSalesPlanningMeetingBrands.xhtml";
	    });

	    
	 });

	function redireccionar(){
		window.location="/PortalVicepresidencia/pages/RSalesPlanningMeetingBrands.xhtml";

	}
	    
		
	</script>
	</h:body>
</html> 
 