 <aside th:fragment="aside">

<!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
   </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Estado de Guerrero</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img th:src="@{http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alejandro Mendoza</a>
        </div>
      </div>


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
           <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Penales
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                 <a href="#" th:href="@{/causaPenal/inicio}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Causas Penales</p>
                </a>
              </li>
              </ul>
          </li>
          <li class="nav-item menu-open">
          	<a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Materia Civil
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
            	<li class="nav-item">
	                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/materiaCivil/radicadas" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>Radicacion</p>
	                </a>
	            </li>
	            <li class="nav-item">
	                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/materiaCivilTramite/tramites" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>Seguimiento expediente tramite</p>
	                </a>
	            </li>
	            <li class="nav-item">
	                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/materiaCivilAmparo/Amparos" class="nav-link">
	                  <i class="far fa-circle nav-icon"></i>
	                  <p>Amparo</p>
	                </a>
	            </li>
	         </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

</aside>    