<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		
		<title>T. S. J. del Estado de Guerrero</title>
	    <!-- Font Awesome Icons -->
		<h:outputStylesheet library="css" name="/plugins/fontawesome-free/css/all.min.css"> </h:outputStylesheet>
		
			 <!-- Tempusdominus Bbootstrap 4 -->
  		<h:outputStylesheet library="css" name="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"/>
		
	    <!-- Theme style -->
	    <h:outputStylesheet library="css" name="dist/css/layoutVW.css"> </h:outputStylesheet>
	    
	    <!-- Google Font: Source Sans Pro -->
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" />
   
    	
    	<h:outputStylesheet library="webjars" name="font-awesome/5.8.2/css/all.min-jsf.css" />
		<h:outputStylesheet library="webjars" name="font-awesome/5.8.2/css/v4-shims.min-jsf.css" />
		    	
	</h:head>
 
	 <h:body class="hold-transition sidebar-mini">
  		<div class="wrapper">
		
			<div id="top">
				<ui:insert name="top">
					<ui:include src="Top.xhtml"></ui:include>
				</ui:insert>
			</div>
			<div id="left">
				<ui:insert name="left">
					<ui:include src="Left.xhtml"></ui:include>
				</ui:insert>
			</div>
			
			<div id="body" >
				<ui:insert name="body"/>
			</div>
			
			<div id="right">
				<ui:insert name="right">
					<ui:include src="Right.xhtml"></ui:include>
				</ui:insert>
			</div>
			
			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="Footer.xhtml"></ui:include>
				</ui:insert>
			</div>
		</div>
    
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <h:outputScript library="css" name="plugins/jquery/jquery.min.js" />
    
    <!-- Bootstrap 4 -->
    <h:outputScript library="css" name="plugins/bootstrap/js/bootstrap.bundle.min.js" />
    <h:outputScript library="css" name="dist/js/adminVW.js" />
    <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>
    <h:outputScript library="css" name="dist/js/layoutVW.js" />
 
 <!-- ChartJS -->
    <h:outputScript library="css" name="plugins/chart.js/Chart.min.js" />
    
    <h:outputStylesheet library="webjars" name="font-awesome/5.8.1/css/all-jsf.css" />
    <h:outputStylesheet library="webjars" name="font-awesome/5.8.1/css/v4-shims.min-jsf.css" />
   	
    	
	<script type="text/javascript">
	
	
	    jQuery(document).ready(function() {
	    	
	    	 var previusSales = $('#salesPrevius').val().split(',');
	    	 var meses = $('#labes').val().split(',');
	    	 var actualSales = $('#salesActual').val().split(',');
	    	 var report = $('#report').val();
	    		console.log("Enreport:"+report);

	    	 if(report === 1 ){
	    	 $(function () {
	    		  'use strict'

	    		  var ticksStyle = {
	    		    fontColor: '#495057',
	    		    fontStyle: 'bold'
	    		  }

	    		  var mode      = 'index'
	    		  var intersect = true

	    		  var $salesChart = $('#sales-chart')
	    		  var salesChart  = new Chart($salesChart, {
	    		    type   : 'bar',
	    		    data   : {
	    		      labels  : meses,
	    		      datasets: [
	    		        {
	    		          backgroundColor: '#007bff',
	    		          borderColor    : '#007bff',
	    		          data           : actualSales
	    		        },
	    		        {
	    		          backgroundColor: '#ced4da',
	    		          borderColor    : '#ced4da',
	    		          data           : previusSales
	    		        }
	    		      ]
	    		    },
	    		    options: {
	    		      maintainAspectRatio: false,
	    		      tooltips           : {
	    		        mode     : mode,
	    		        intersect: intersect
	    		      },
	    		      hover              : {
	    		        mode     : mode,
	    		        intersect: intersect
	    		      },
	    		      legend             : {
	    		        display: false
	    		      },
	    		      scales             : {
	    		        yAxes: [{
	    		          // display: false,
	    		          gridLines: {
	    		            display      : true,
	    		            lineWidth    : '4px',
	    		            color        : 'rgba(0, 0, 0, .2)',
	    		            zeroLineColor: 'transparent'
	    		          },
	    		          ticks    : $.extend({
	    		            beginAtZero: true,

	    		            // Include a dollar sign in the ticks
	    		            callback: function (value, index, values) {
	    		              if (value >= 1000) {
	    		                value /= 1000
	    		                value += 'k'
	    		              }
	    		              return '$' + value
	    		            }
	    		          }, ticksStyle)
	    		        }],
	    		        xAxes: [{
	    		          display  : true,
	    		          gridLines: {
	    		            display: false
	    		          },
	    		          ticks    : ticksStyle
	    		        }]
	    		      }
	    		    }
	    		  })

	    		  var $visitorsChart = $('#visitors-chart')
	    		  var visitorsChart  = new Chart($visitorsChart, {
	    		    data   : {
	    		      labels  : ['18th', '20th', '22nd', '24th', '26th', '28th', '30th'],
	    		      datasets: [{
	    		        type                : 'line',
	    		        data                : [100, 120, 170, 167, 180, 177, 160],
	    		        backgroundColor     : 'transparent',
	    		        borderColor         : '#007bff',
	    		        pointBorderColor    : '#007bff',
	    		        pointBackgroundColor: '#007bff',
	    		        fill                : false
	    		        // pointHoverBackgroundColor: '#007bff',
	    		        // pointHoverBorderColor    : '#007bff'
	    		      },
	    		        {
	    		          type                : 'line',
	    		          data                : [60, 80, 70, 67, 80, 77, 100],
	    		          backgroundColor     : 'tansparent',
	    		          borderColor         : '#ced4da',
	    		          pointBorderColor    : '#ced4da',
	    		          pointBackgroundColor: '#ced4da',
	    		          fill                : false
	    		          // pointHoverBackgroundColor: '#ced4da',
	    		          // pointHoverBorderColor    : '#ced4da'
	    		        }]
	    		    },
	    		    options: {
	    		      maintainAspectRatio: false,
	    		      tooltips           : {
	    		        mode     : mode,
	    		        intersect: intersect
	    		      },
	    		      hover              : {
	    		        mode     : mode,
	    		        intersect: intersect
	    		      },
	    		      legend             : {
	    		        display: false
	    		      },
	    		      scales             : {
	    		        yAxes: [{
	    		          // display: false,
	    		          gridLines: {
	    		            display      : true,
	    		            lineWidth    : '4px',
	    		            color        : 'rgba(0, 0, 0, .2)',
	    		            zeroLineColor: 'transparent'
	    		          },
	    		          ticks    : $.extend({
	    		            beginAtZero : true,
	    		            suggestedMax: 200
	    		          }, ticksStyle)
	    		        }],
	    		        xAxes: [{
	    		          display  : true,
	    		          gridLines: {
	    		            display: false
	    		          },
	    		          ticks    : ticksStyle
	    		        }]
	    		      }
	    		    }
	    		  })
	    		})
	    	 }else if( report == 2){
	    		console.log("En dos");
		    	
		    	 $(function () {
		    		  'use strict'

		    		  var ticksStyle = {
		    		    fontColor: '#BDBDBD',
		    		    fontStyle: 'bold'
		    		  }

		    		  var mode      = 'index'
		    		  var intersect = true

		    		  var $salesChart = $('#sales-chart')
		    		  var salesChart  = new Chart($salesChart, {
		    		    type   : 'bar',
		    		    data   : {
		    		      labels  : meses,
		    		      datasets: [
		    		        {
		    		          backgroundColor: '#BDBDBD',
		    		          borderColor    : '#888888',
		    		          data           : actualSales
		    		        }
		    		      ]
		    		    },
		    		    options: {
		    		      maintainAspectRatio: false,
		    		      tooltips           : {
		    		        mode     : mode,
		    		        intersect: intersect
		    		      },
		    		      hover              : {
		    		        mode     : mode,
		    		        intersect: intersect
		    		      },
		    		      legend             : {
		    		        display: false
		    		      },
		    		      scales             : {
		    		        yAxes: [{
		    		          // display: false,
		    		          gridLines: {
		    		            display      : true,
		    		            lineWidth    : '4px',
		    		            color        : 'rgba(0, 0, 0, .2)',
		    		            zeroLineColor: 'transparent'
		    		          },
		    		          ticks    : $.extend({
		    		            beginAtZero: true,

		    		            // Include a dollar sign in the ticks
		    		            callback: function (value, index, values) {
		    		              if (value >= 1000) {
		    		                value /= 1000
		    		                value += 'k'
		    		              }
		    		              return '$' + value
		    		            }
		    		          }, ticksStyle)
		    		        }],
		    		        xAxes: [{
		    		          display  : true,
		    		          gridLines: {
		    		            display: false
		    		          },
		    		          ticks    : ticksStyle
		    		        }]
		    		      }
		    		    }
		    		  })

		    		  var $visitorsChart = $('#visitors-chart')
		    		  var visitorsChart  = new Chart($visitorsChart, {
		    		    data   : {
		    		      labels  : ['18th', '20th', '22nd', '24th', '26th', '28th', '30th'],
		    		      datasets: [{
		    		        type                : 'line',
		    		        data                : [100, 120, 170, 167, 180, 177, 160],
		    		        backgroundColor     : 'transparent',
		    		        borderColor         : '#BDBDBD',
		    		        pointBorderColor    : '#BDBDBD',
		    		        pointBackgroundColor: '#BDBDBD',
		    		        fill                : false
		    		        // pointHoverBackgroundColor: '#007bff',
		    		        // pointHoverBorderColor    : '#007bff'
		    		      },
		    		        {
		    		          type                : 'line',
		    		          data                : [60, 80, 70, 67, 80, 77, 100],
		    		          backgroundColor     : 'tansparent',
		    		          borderColor         : '#BDBDBD',
		    		          pointBorderColor    : '#BDBDBD',
		    		          pointBackgroundColor: '#BDBDBD',
		    		          fill                : false
		    		          // pointHoverBackgroundColor: '#ced4da',
		    		          // pointHoverBorderColor    : '#ced4da'
		    		        }]
		    		    },
		    		    options: {
		    		      maintainAspectRatio: false,
		    		      tooltips           : {
		    		        mode     : mode,
		    		        intersect: intersect
		    		      },
		    		      hover              : {
		    		        mode     : mode,
		    		        intersect: intersect
		    		      },
		    		      legend             : {
		    		        display: false
		    		      },
		    		      scales             : {
		    		        yAxes: [{
		    		          // display: false,
		    		          gridLines: {
		    		            display      : true,
		    		            lineWidth    : '4px',
		    		            color        : 'rgba(0, 0, 0, .2)',
		    		            zeroLineColor: 'transparent'
		    		          },
		    		          ticks    : $.extend({
		    		            beginAtZero : true,
		    		            suggestedMax: 200
		    		          }, ticksStyle)
		    		        }],
		    		        xAxes: [{
		    		          display  : true,
		    		          gridLines: {
		    		            display: false
		    		          },
		    		          ticks    : ticksStyle
		    		        }]
		    		      }
		    		    }
		    		  })
		    		})
		     }
	    });
	</script>
	</h:body>
</html> 
 