
<Header th:fragment="cabecera">
	<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		
		<title>T. S. J. del Estado de Guerrero</title>
		
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link href="#" th:href="@{/plugins/fontawesome-free/css/all.min.css}" rel="stylesheet"/>
  
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link href="#" th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>
  
  <!-- iCheck -->
  <link href="#" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}" rel="stylesheet"/>
  <!-- JQVMap -->
  <link href="#" th:href="@{/plugins/jqvmap/jqvmap.min.css}" rel="stylesheet"/>
  <!-- Theme style -->
  <link href="#" th:href="@{/dist/css/adminlte.min.css}" rel="stylesheet"/>
  <!-- overlayScrollbars -->
  <link href="#" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}" rel="stylesheet"/>
  <!-- Daterange picker -->
  <link href="#" th:href="@{/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet"/>
  <!-- summernote -->
  <link href="#" th:href="@{/plugins/summernote/summernote-bs4.min.css}" rel="stylesheet"/>	
  
    <!-- Bootstrap Color Picker -->
    <link href="#" th:href="@{/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet"/>	
  
    

  </head>
</Header>