 
 <aside th:fragment="aside">
 
 <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="static/img/AdminLTELogo.png" th:src="@{/img/AdminLTELogo.png}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">TSJ de Guerrero</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
	            <img th:src="@{/img/user2-160x160.jpg}"  class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
        </div>
      </div>


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          
          
          <li class="nav-item ">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Reportes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" th:href="@{/Uno}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reporte Penal</p>
                </a>
              </li>
              
            </ul>
          </li>
          
          
           <li class="nav-item ">
            <a href="#" class="nav-link ">
              <i class="nav-icon nav-icon fas fa-copy"></i>
              <p>
                Catálogos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
             <ul class="nav nav-treeview">
             <li class="nav-item">
              	<a href="#" th:href="@{/catalogoRamo/inicio}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ramos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" th:href="@{/catalogoMunicipio/inicio}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Municipios</p>
                </a>
              </li>
             <li class="nav-item">
                <a href="#" th:href="@{/catalogoDistrito/inicio}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Distritos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" th:href="@{/catalogoJuzgado/inicio}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Juzgados</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="#" th:href="@{/catalogoDelito/inicio}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Delitos</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="#" th:href="@{/catalogoDialecto/inicio}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dialectos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" th:href="@{/catalogoAutoridad/inicio}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Autoridades Federales</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</aside>