<Header th:fragment="cabecera">

	
		
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link href="#" th:href="@{/plugins/fontawesome-free/css/all.min.css}" rel="stylesheet"/>
  
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link href="#" th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>
  
  <!-- iCheck -->
  <link href="#" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}" rel="stylesheet"/>
  <!-- JQVMap -->
  <link href="#" th:href="@{/plugins/jqvmap/jqvmap.min.css}" rel="stylesheet"/>
  <!-- Theme style -->
  <link href="#" th:href="@{/dist/css/adminlte.min.css}" rel="stylesheet"/>
  <!-- overlayScrollbars -->
  <link href="#" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}" rel="stylesheet"/>
  <!-- Daterange picker -->
  <link href="#" th:href="@{/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet"/>
  <!-- summernote -->
  <link href="#" th:href="@{/plugins/summernote/summernote-bs4.min.css}" rel="stylesheet"/>	
  
    <!-- Bootstrap Color Picker -->
    <link href="#" th:href="@{/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet"/>	
  
    

  </head>
</header>



<Header th:fragment="header">
<!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="static/img/AdminLTELogo.png" th:src="@{/img/AdminLTELogo.png}" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
   </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->
</header>
  