<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		
		<title>T. S. J. del Estado de Guerrero</title>
		
<div th:replace="/layout/Top.html :: cabecera"></div>

<body class="hold-transition sidebar-mini layout-fixed">

<div class="wrapper">

<div th:replace="/layout/Top.html :: header"></div>
  
<div th:replace="/layout/Left.html :: aside"></div>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Catálogo Municipio</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" th:href="@{/inicio/}">inicio</a></li>
              <li class="breadcrumb-item active"> <a href="#" th:href="@{/logout}"  >Cerrar Sesión</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      
      <div class="row">
      		<div class="col-md-1" ></div>
			<div class="col-md-10" >
			
				<div class="col-md-12" style="text-align:left; padding-bottom:10px;">
		                <button type="button" class="btn btn-danger" onclick="abrirModal()"> <i class="fas fa-plus"></i> </button>
				</div>
				<div class="col-md-12" style="text-align:center; height:10px;">
				</div>		
				 <div class="col-md-12" style="text-align:center;">
				 		<div id ="tabla"></div>
		         </div>    
		      <div class="col-md-1" ></div>
        	</div>
        </div>
        <!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header panel panel-primary" >
				        <h5 class="modal-title" id="exampleModalLabel">Agregar Municipio</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				        <form class="needs-validation" novalidate>
						  	<div class="card-body">
						 		<input type="text" class="form-control" id="id" >
				    			<div class="form-group">
                    				<label for="nombre">Nombre</label>
                    				<input type="text" class="form-control" id="nombre" placeholder="Introduce nombre">
                  				</div>
				    			<div class="form-group">
                    				<label for="descripcion">Descripción</label>
                    				<input type="text" class="form-control" id="descripcion" placeholder="Introduce descripcion">
                  				</div>
						   </div>
						  
						  <div class="card-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					        <button type="button" class="btn btn-primary" onclick="agregar()" >Guardar</button>
					      </div>
						</form>
				      </div>
				      
				    </div>
				  </div>
				</div>
      	
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  
 <div th:replace="/layout/Footer.html :: footer"></div>
 <div th:replace="/layout/Footer.html :: aside"></div>

<script>

$(document).ready(function(){  
	mostrarMunicipios();
	$("#nombre").val("");	
	$("#descripcion").val("");	
	$("#id").val("");	
}) 


function abrirModal(){
	$("#nombre").val("");	
	$("#descripcion").val("");
	$("#id").val("");
	$("#exampleModal").modal('show');
}

function agregar() {
		  var municipio = {}
		  municipio["nombre"] = $("#nombre").val();	
		  municipio["descripcion"] = $("#descripcion").val();	
		 
	    $.ajax({
	    	type: 'POST',
	        contentType: "application/json",
	        url: 'add/',
	        data: JSON.stringify(municipio),
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success:function (data) {
    			$("#exampleModal").modal('hide');
    			$("#nombre").val("");	
    			$("#descripcion").val("");	
	        	mostrarMunicipios();
	        },   
	        error: function (e) {
	        }
	    });
	}

	

	function editar( id) {
				 $.ajax({
				    	type: 'GET',
				    	contentType: "application/json",
				        url: 'municipio/'+id,
				        dataType: 'json',
				        cache: false,
				        timeout: 600000,
				        success:function (data) {
		                 $.each(data, function (id, municipios) {
		                		$("#id").val(municipios.id);	
		                		$("#nombre").val(municipios.nombre);	
		            			$("#descripcion").val(municipios.descripcion);
		            			$("#exampleModal").modal('show');
		                 });
							   
			            },
				        error: function (e) {
				        }
				    });
				}	
	
	   function eliminar( id) {
			 $.ajax({
			    	type: 'GET',
			    	contentType: "application/json",
			        url: 'municipio/del/'+id,
			        dataType: 'json',
			        cache: false,
			        timeout: 600000,
			        success:function (data) {
	                 $.each(data, function (id, municipios) {
	                	 mostrarMunicipios();
	                 });
						   
		            },
			        error: function (e) {
			        }
			    });
			}	
	   
	   
	   function mostrarMunicipios() {
			 $.ajax({
			    	type: 'GET',
			    	contentType: "application/json",
			        url: 'allMunicipios/',
			        dataType: 'json',
			        cache: false,
			        timeout: 600000,
			        success:function (data) {
			        	
			        	
			        	
			        	document.getElementById("tabla").innerHTML="";
						var result = "";
						result += '<table class="table" id="tablaMunicipios">'
						+'<thead class="thead-dark" >'
						+'<tr>'
						+'<th scope="col">ID</th>'
						+'<th>Nombre</th>'
						+'<th>Descripción</th>'
						+'<th></th>'
						+'</tr>'
						+'</thead>'
						+'<tbody>';

		                $.each(data, function (id, municipio) {
		                	result +='<tr>'
		                			+'<td>'+municipio.id+'</td>'
		                		    +'<td>'+municipio.nombre+'</td>'
		                		    +'<td>'+municipio.descripcion+'</td>'
		                		    +'<td>'
		                		    +'<button type="button" class="btn btn-default" onclick="editar('+municipio.id+')">  <i class="fas fa-edit"></i> </button>'
		                		    +'<button type="button" class="btn btn-danger" onclick="eliminar('+municipio.id+')"> <i class="far fa-trash-alt"></i></button>'
		                		    +'</td>'
		                		    +'</tr>'
		                });
						result +='</tbody>'
						+'</table>';
		                $("#tabla").append(result);
			        	
			        	
						   
		            },
			        error: function (e) {
			        }
			    });
			}	
</script>
</body>
</html>