<!DOCTYPE html>
<html lang="en">

<html 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.springframework.org/security/tags">

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		
		<title>T. S. J. del Estado de Guerrero</title>
<div th:replace="/layoutUser/Top.html :: cabecera"></div>
<body class="hold-transition sidebar-mini layout-fixed">
<div th:replace="/layoutUser/Left.html :: aside"></div>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Causas Penales</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="#" th:href="@{/inicio/}">inicio</a></li>
              <li class="breadcrumb-item active"> <a href="#" th:href="@{/logout}"  >Cerrar Sesión</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      
      <div class="row">
      		<div class="col-md-1" ></div>
			<div class="col-md-10" >
			
				<div class="col-md-8" style="text-align:left; padding-bottom:10px; ">
		                <button type="button" class="btn btn-success" onclick="abrirModal()"> <i class="fas fa-plus"></i> </button>
		                <a href="https://blogandweb.com/wp-content/uploads/2013/10/archivo.pdf" target="_blank" download="reportePenalCausaPenal.pdf">
		         	       <button type="button" class="btn btn-success" > <i class="fas fa-download"></i> </button>
		         	    </a>
				</div>
				<div class="col-md-12" style="text-align:center; height:10px;">
				</div>		
				 <div class="col-md-12" style="text-align:center;">
				 		<div id ="tabla"></div>
		         </div>
		      <div class="col-md-1" ></div>
        	</div>
        </div>
        
        
        
           <!-- Modal PROCESO PENAL  -->
				<div class="modal fade" id="modalProcesoPenal" tabindex="-1" role="dialog" aria-labelledby="modalProcesoPenal" aria-hidden="true">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header panel panel-primary" >
				        <h5 class="modal-title" id="exampleModalLabel">Agregar Registro de Amparo</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				       <form class="needs-validation" novalidate>
				      <div class="modal-body">
				      <label >Proceso Penal</label>
					  <input type="hidden" class="form-control" id="idProcesoPenal" >
				       
				           <div class="row">
								<div class="form-group  col-md-4">
								        <label for="causaPenalProcesoPenal">ID Causa Penal</label>
		                   				<input type="text" class="form-control" id="idCausaPenalProcesoPenal" placeholder="ID Causa Penal">
	                 			</div>
								<div class="form-group  col-md-4">
		                   				<label for="causaPenalProcesoPenal">Causa Penal</label>
		                   				<input type="text" class="form-control" id="causaPenalProcesoPenal" placeholder="Causa Penal">
	                 			</div>
	                 			<div class="form-group col-md-4">
	                   				<label for="averiguacionPreviaProcesoPenal">Averiguación Previa</label>
	                   				<input type="text" class="form-control" id="averiguacionPreviaProcesoPenal" placeholder="Averiguacion Previa">
	                 			</div>
						    </div>
							<div class="row">
								<div class="form-group col-md-4" id="acusadosProcesoPenal"></div>
								<div class="form-group col-md-4" id="delitosProcesoPenal"></div>
							</div>
		
						
						    <div class="row">
							    <div class="form-group col-md-4">
	                   				<label for="fechaDetencionProcesoPenal">Fecha Detención</label>
	                   				<input type="date" class="form-control" id="fechaDetencionProcesoPenal" placeholder="Fecha de Detención">
	                 			</div>
								
								<div class="form-group date col-md-4">
				                    <label for="fechaUltimaActualizacionProcesoPenal">Fecha de última Actualización</label>
				                    <input type="date" class="form-control" id="fechaUltimaActualizacionProcesoPenal"  >
				                </div>
                 			</div>	
                 			
                			 <div class="row">
					        
								<div class="form-group col-md-12" id="amparo"></div>
								<div class="form-group col-md-12" id="detenido"></div>
								<div class="form-group col-md-12" id="bajoFianza"></div>
								<div class="form-group col-md-12" id="formalPrision"></div>
							</div>
								
								<div class="row">
	              			    <div class="form-group col-md-12">
	   							 <label for="observacionesProcesoPenal">Observaciones</label>
	   							 <textarea class="form-control" id="observacionesProcesoPenal" rows="3"></textarea>
	   						    </div>
					        </div>
						   </div>
						  <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					        <button type="button" class="btn btn-primary" onclick="agregarProcesoPenal()" >Guardar</button>
					      </div>
						</form>
				    
				      
				    </div>
				  </div>
				</div>
       
				
				
				
				
        <!-- Modal CAUSAS PENALES-->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header panel panel-primary" >
				        <h5 class="modal-title" id="exampleModalLabel">Causa Penal</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				       <form class="needs-validation" novalidate>
				      <div class="modal-body">
				       
					 		<input type="hidden" class="form-control" id="idCausaPenal" >
			    			
			    			<div class="row">
				    			<div class="form-group  col-md-3">
	                   				<label for="causaPenal">Causa Penal</label>
	                   				<input type="text" class="form-control" id="causaPenal" placeholder="Causa Penal">
	                 			</div>
	                 			<div class="form-group col-md-3">
	                   				<label for="averiguacionPrevia">Averiguación Previa</label>
	                   				<input type="text" class="form-control" id="averiguacionPrevia" placeholder="Averiguacion Previa">
	                 			</div>
	                 			
	                 			<div class="form-group col-md-3">
	                   				<label for="fechaInicio">Fecha de Inicio</label>
	                   				<input type="date" class="form-control" id="fechaInicio" placeholder="Fecha de Inicio">
	                 			</div>
                
							</div>	
							
							<div class="row">
								<div class="form-group  col-md-3">
									<div class="form-check">
		          						 <input class="form-check-input" type="checkbox" value="" id="cd">
		          						 <label class="form-check-label" for="cd">
		          						  CD
		          						 </label>
		          					</div>
	          					</div>
	          					
	          					<div class="form-group  col-md-3">
		          					<div class="form-check">
		          						 <input class="form-check-input" type="checkbox" value="" id="sd">
		          						 <label class="form-check-label" for="sd">
		          						  SD
		          						 </label>
		          					</div>
								</div>
								
								<div class="form-group  col-md-3">
									<div class="form-check">
	            						  <input class="form-check-input" type="checkbox" value="" id="radicada">
	            						  <label class="form-check-label" for="radicada"> Radicada </label>
	            					</div>
								 </div>	            						 
							</div>	
							
							<div class="row">
								<div class="form-group col-md-4" id="agraviados"></div>
								<div class="form-group col-md-4" id="acusados"></div>
								<div class="form-group col-md-4" id="delitos"></div>
                 			</div>
              			   
              			   <div class="row">
	              			    <div class="form-group col-md-12">
	   							 <label for="observaciones">Observaciones</label>
	   							 <textarea class="form-control" id="observaciones" rows="3"></textarea>
	   						    </div>
					       </div>
					       
						  </div>
						  <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					        <button type="button" class="btn btn-primary" onclick="agregar()" >Guardar</button>
					      </div>
						</form>
				    
				      
				    </div>
				  </div>
				</div>
      	
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <div th:replace="/layoutUser/Footer.html :: aside"></div>
  


<script>

$(document).ready(function(){  
	mostrarpenalCausaPenales();
	obtenerAgraviados();
	obtenerAcusados();
	obtenerDelitos();
	
}) 

var tipoProceso;


/*
 * Funciones para agregar una Causa Penal
 */
function agregar() {
		  var penalCausaPenal = {}
		  penalCausaPenal["id"] = $("#idCausaPenal").val();	
		  penalCausaPenal["averiguacionPrevia"] = $("#averiguacionPrevia").val();
		  penalCausaPenal["causaPenal"] = $("#causaPenal").val();	
		  penalCausaPenal["acusado"] = $("#acusado").val();
		  penalCausaPenal["agraviado"] = $("#agraviado").val();
		  penalCausaPenal["delito"] = $("#delito").val();

		  var estaSeleccionado = $('#radicada').is(":checked");
		  penalCausaPenal["radicada"] = estaSeleccionado;
		  
		  penalCausaPenal["fechaInicio"] = $("#fechaInicio").val();

		  estaSeleccionado = $('#cd').is(":checked");
		  penalCausaPenal["cd"] = estaSeleccionado;
		  
		  estaSeleccionado = $('#sd').is(":checked");
		  penalCausaPenal["sd"] = estaSeleccionado;
		  
		  penalCausaPenal["observaciones"] = $("#observaciones").val();
		  penalCausaPenal["fechaInicio"] = $("#fechaInicio").val();

	    $.ajax({
	    	type: 'POST',
	        contentType: "application/json",
	        url: 'add/',
	        data: JSON.stringify(penalCausaPenal),
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success:function (data) {
    			$("#exampleModal").modal('hide');
     			mostrarpenalCausaPenales();
	        },   
	        error: function (e) {
	        }
	    });
	}

	

	function editar( id) {
				 $.ajax({
				    	type: 'GET',
				    	contentType: "application/json",
				        url: 'penalCausaPenal/'+id,
				        dataType: 'json',
				        cache: false,
				        timeout: 600000,
				        success:function (data) {
		                 $.each(data, function (id, registro) {
		                	 
		                	          $("#idCausaPenal").val(registro.id);	
	            					  $("#causaPenal").val(registro.causaPenal);	
	            					  $("#averiguacionPrevia").val(registro.averiguacionPrevia);
	            					  $("#acusado").val(registro.agraviado.id);
									  $("#radicada").prop("checked", registro.radicada);
	            					  $("#agraviado").val(registro.agraviado.id);
	            					  $("#delito").val(registro.acusado.delito.id);
									  $("#cd").prop("checked", registro.cd);
									  $("#sd").prop("checked", registro.sd);
	            					  $("#observaciones").val(registro.observaciones);
	            					  $("#fechaInicio").val(formatDateInput(registro.fechaInicio));
			            			  $("#exampleModal").modal('show');
		                 });
							   
			            },
				        error: function (e) {
				        }
				    });
				}	
	
	   function eliminar( id) {
			 $.ajax({
			    	type: 'GET',
			    	contentType: "application/json",
			        url: 'penalCausaPenal/del/'+id,
			        dataType: 'json',
			        cache: false,
			        timeout: 600000,
			        success:function (data) {
	                 $.each(data, function (id, penalCausaPenal) {
	                	 mostrarpenalCausaPenales();
	                 });
						   
		            },
			        error: function (e) {
			        }
			    });
			}	
	   
	   
	   function mostrarpenalCausaPenales() {
			 $.ajax({
			    	type: 'GET',
			    	contentType: "application/json",
			        url: 'allPenalCausaPenales/',
			        dataType: 'json',
			        cache: false,
			        timeout: 600000,
			        success:function (data) {
			        	document.getElementById("tabla").innerHTML="";
						var result = "";
						result += '<table class="table" id="tablapenalCausaPenals">'
						+'<thead class="thead-dark" >'
						+'<tr>'
						+'<th scope="col">ID</th>'
						+'<th>Causa Penal</th>'
						+'<th>A Previa</th>'
						+'<th>Radicación</th>'
						+'<th>A Liberación</th>'
						+'<th>A Negación</th>'
						+'<th>A Ejecución</th>'
						+'<th></th>'
						+'</tr>'
						+'</thead>'
						+'<tbody>';

		                $.each(data, function (id, penalCausaPenal) {
		                	result +='<tr>'
		                			+'<td>'+penalCausaPenal.id+'</td>'
		                		    +'<td>'+penalCausaPenal.causaPenal+'</td>'
		                		    +'<td>'+penalCausaPenal.averiguacionPrevia+'</td>'
		                		    +'<td>'+formatDate(penalCausaPenal.fechaInicio)+'</td>'
		                		    +'<td>'+formatDate(penalCausaPenal.aprensionLiberacion)+'</td>'
		                		    +'<td>'+formatDate(penalCausaPenal.aprensionNegacion)+'</td>'
		                		    +'<td>'+formatDate(penalCausaPenal.aprensionEjecucion)+'</td>'
		                		    +'<td style="text-align:left; " >'
		                		    +'<button type="button" class="btn btn-default" onclick="editar('+penalCausaPenal.id+')">  <i class="fas fa-edit"></i> </button>'
		                		    +'<button type="button" class="btn btn-default" onclick="mostrarProcesoPenalAmparo('+penalCausaPenal.id+')">  <i class="fas fa-exclamation"></i> </button>'
		                		    +'<button type="button" class="btn btn-default" onclick="mostrarProcesoPenalDetenido('+penalCausaPenal.id+')">  <i class="fas fa-check-double"></i> </button>'
		                		    +'<button type="button" class="btn btn-default" onclick="mostrarProcesoPenalBajoFianza('+penalCausaPenal.id+')">  <i class="fas fa-feather"></i> </button>'
		                		    +'<button type="button" class="btn btn-default" onclick="mostrarProcesoPenalFormalPrision('+penalCausaPenal.id+')">  <i class="fas fa-gavel"></i> </button>'

		                		    +'<button type="button" class="btn btn-danger" onclick="eliminar('+penalCausaPenal.id+')"> <i class="far fa-trash-alt"></i></button>'
		                		    +'</td>'
		                		    +'</tr>'
		                });
						result +='</tbody>'
						+'</table>';
		                $("#tabla").append(result);
		            },
			        error: function (e) {
			        }
			    });
			}
	   
	   function limpiaModalProceoPenal(){
		   
		   
		  	$("#fechaDetencionProcesoPenal").val("");
		   	$("#fechaUltimaActualizacionProcesoPenal").val("");
		   	$("#observacionesProcesoPenal").val("");
		   	$("#acusadoProcesoPenal").val("");
		   	$("#delitoProcesoPenal").val("");
		   $("#amparo").empty();
		   $("#detenido").empty();
		   $("#bajoFianza").empty();
		   $("#formalPrision").empty();

		   
	   }
	   
	   
	   /*
	   Funciones para agregar un Proceso Penal tpo AMPARO
	   */
	   
	   
	   function mostrarProcesoPenalAmparo(id) {
		   limpiaModalProceoPenal();
		   agregarComponentesProcesoPenal(id);
		  
		   tipoProceso = 1;
		}	

	   
	   function agregarComponentesProcesoPenal(id){
		   $.ajax({
		    	type: 'GET',
		    	contentType: "application/json",
		        url: 'penalCausaPenal/'+id,
		        dataType: 'json',
		        cache: false,
		        timeout: 600000,
		        success:function (data) {
                $.each(data, function (id, registro) {
                	
					     $("#idCausaPenalProcesoPenal").val(registro.id);	
					     $("#causaPenalProcesoPenal").val(registro.causaPenal);	
					     $("#averiguacionPreviaProcesoPenal").val(registro.averiguacionPrevia);
					     $("#acusadoProcesoPenal").val(registro.acusado.id);
					     $("#delitoProcesoPenal").val(registro.acusado.delito.id);

               	   
                });
					   
	            },
		        error: function (e) {
		        }
		    });
		 
		   
		   var componentes = "";
           componentes +='<label >Amparo</label>';
		   
		       componentes+=  '<div class="row"><div class="form-group col-md-4">'
			   +'<label for="fechaAmpara">Fecha Ampara</label>'
			   +'<input type="date" class="form-control" id="fechaAmpara" placeholder="Fecha de Ampara">'
			   +'</div>';
			   
			   
			  componentes+=  '<div class="form-group col-md-4">'
				   +'<label for="fechaProtege">Fecha Protege</label>'
				   +'<input type="date" class="form-control" id="fechaProtege" placeholder="Fecha de Protege">'
				   +'</div>';
			
			 componentes+=  '<div class="form-group col-md-4">'
				   +'<label for="fechaNiega">Fecha Niega</label>'
				   +'<input type="date" class="form-control" id="fechaNiega" placeholder="Fecha de Niega">'
				   +'</div></div>';
		  
				 $("#amparo").append(componentes);	
		 
		 $.ajax({
		    	type: 'GET',
		    	contentType: "application/json",
		        url: 'penalCausaPenalProceso/'+id,
		        dataType: 'json',
		        cache: false,
		        timeout: 600000,
		        success:function (data) {
                $.each(data, function (id, registro) {
               	         
               	 $("#fechaDetencionProcesoPenal").val(formatDateInput(registro.fechaDetencion));	
       		     $("#fechaUltimaActualizacionProcesoPenal").val(formatDateInput(registro.fechaUltimaActuacion));
       		     $("#observacionesProcesoPenal").val(registro.observaciones);
       		      agregarComponentesAmparo(registro.id);
                });
					   
	            },
		        error: function (e) {
		        }
		    });
		 mostrarModalprocesoPenal();
	   }
	   

	   function agregarComponentesAmparo(id){
			 
				 $.ajax({
				    	type: 'GET',
				    	contentType: "application/json",
				        url: 'procesoPenalAmparo/'+id,
				        dataType: 'json',
				        cache: false,
				        timeout: 600000,
				        success:function (data) {
		                $.each(data, function (id, registro) {
		               	 $("#fechaAmpara").val(formatDateInput(registro.fechaAmpara));	
		       		     $("#fechaNiega").val(formatDateInput(registro.fechaNiega));
		       		     $("#fechaProtege").val(formatDateInput(registro.fechaProteje));
		               	   
		                });
							   
			            },
				        error: function (e) {
				        }
				    });
		 
		
	   }
 
	   
	   
	   function agregarProcesoPenal() {
		  
		   
		   var procesoPenal = {}
		   procesoPenal["idCausaPenal"] =  $("#idCausaPenalProcesoPenal").val();;	
		   procesoPenal["observaciones"] = $("#observacionesProcesoPenal").val();
		   procesoPenal["fechaDetencion"] = $("#fechaDetencionProcesoPenal").val();	
		   procesoPenal["fechaUltimaActuacion"] = $("#fechaUltimaActualizacionProcesoPenal").val();

		   
		   procesoPenal["fechaAmpara"] = $("#fechaAmpara").val();
		   procesoPenal["fechaProtege"] = $("#fechaProtege").val();
		   procesoPenal["fechaNiega"] = $("#fechaNiega").val();
		   procesoPenal["tipoProceso"] =  tipoProceso;
		   procesoPenal["observacionesBajoFianza"] = $("#observacionesBajoFianza").val();

		   procesoPenal["fechaLibertadFepp"] = $("#fechaLibertadFepp").val();
		   procesoPenal["fechaFormalPrision"] = $("#fechaFormalPrision").val();
		   procesoPenal["fechaSujesion"] = $("#fechaSujesion").val();
		   procesoPenal["fechaApelacion"] = $("#fechaApelacion").val();
		   procesoPenal["fechaJuicioOrdinario"] = $("#fechaJuicioOrdinario").val();
		   procesoPenal["fechaJuicioSumario"] = $("#fechaJuicioSumario").val();
		   procesoPenal["fechaCierreInstrucciones"] = $("#fechaCierreInstrucciones").val();
		   procesoPenal["fechaAudienciaVista"] = $("#fechaAudienciaVista").val();
		   procesoPenal["fechaAudiencia"] = $("#fechaAudiencia").val();
		   procesoPenal["fechaAcuerdo"] = $("#fechaAcuerdo").val();

		   
		   procesoPenal["fechaDetencion"] = $("#fechaDetencion").val();
		   
		   procesoPenal["sentencia"] = $("#sentencia").val();

		    $.ajax({
		    	type: 'POST',
		        contentType: "application/json",
		        url: 'addProcesoPenal/',
		        data: JSON.stringify(procesoPenal),
		        dataType: 'json',
		        cache: false,
		        timeout: 600000,
		        success:function (data) {
		        	$("#modalProcesoPenal").modal('hide');
		        },   
		        error: function (e) {
		        }
		    });
					
	}	
		
	   /*
	   Funciones para agregar un Proceso Penal tpo DETENIDO
	   */
	   
	   function mostrarProcesoPenalDetenido(id) {
		   limpiaModalProceoPenal();
			
		    agregarComponentesProcesoPenal(id);
	     
		    $.ajax({
		    	type: 'GET',
		    	contentType: "application/json",
		        url: 'penalCausaPenalProceso/'+id,
		        dataType: 'json',
		        cache: false,
		        timeout: 600000,
		        success:function (data) {
                $.each(data, function (id, registro) {
               	
                	agregarComponentesDetenido(registro.id);
                });
					   
	            },
		        error: function (e) {
		        }
		    });
		    
		    
		    
		    
			 tipoProceso = 2;
		}
	   
	   
	   
	   function agregarComponentesDetenido(id){
		   var componentes = "";
      	 componentes +='<label >Detenido</label>';
			   
			   componentes+=  '<div class="form-group col-md-4">'
				   +'<label for="fechaDetencionDetenido">Número de Detención</label>'
				   +'<input type="date" class="form-control" id="fechaDetencionDetenido" placeholder="Fecha de Detencion">'
				   +'</div>';
			
			  
				 $("#detenido").append(componentes);
				 
				 
				 $.ajax({
				    	type: 'GET',
				    	contentType: "application/json",
				        url: 'procesoPenalDetenido/'+id,
				        dataType: 'json',
				        cache: false,
				        timeout: 600000,
				        success:function (data) {
		                $.each(data, function (id, registro) {
		               	 $("#fechaDetencionDetenido").val(formatDateInput(registro.fechaDetencion));	
		                });
							   
			            },
				        error: function (e) {
				        }
				    });
		 
		 mostrarModalprocesoPenal();
	   }
 
	   
	   /*
	   Funciones para agregar un Proceso Penal tpo BAJO FIANA
	   */
	   function mostrarProcesoPenalBajoFianza(id) {
		   limpiaModalProceoPenal();
		   agregarComponentesProcesoPenal(id);
		    
		   $.ajax({
		    	type: 'GET',
		    	contentType: "application/json",
		        url: 'penalCausaPenalProceso/'+id,
		        dataType: 'json',
		        cache: false,
		        timeout: 600000,
		        success:function (data) {
                $.each(data, function (id, registro) {
               	
                	agregarComponentesBajoFianza(registro.id);
                });
					   
	            },
		        error: function (e) {
		        }
		    });
		    
			 tipoProceso = 3;
		}
	   
	   
   
	   
	   function agregarComponentesBajoFianza(id){
		   var componentes = "";
	      	 componentes +='<label >Bajo Fianza</label>';
				
					 componentes+=  '<div class="form-group col-md-12">'
						+'<label for="observacionesBajoFianza">Observaciones</label>'
						+'<textarea class="form-control" id="observacionesBajoFianza" rows="3"></textarea>'
						+'</div>';
	  
					 $("#bajoFianza").append(componentes);	 
				 
				 
				 $.ajax({
				    	type: 'GET',
				    	contentType: "application/json",
				        url: 'procesoPenalBajoFianza/'+id,
				        dataType: 'json',
				        cache: false,
				        timeout: 600000,
				        success:function (data) {
		                $.each(data, function (id, registro) {
		               	 $("#observacionesBajoFianza").val(registro.observaciones);	
		               	   
		                });
							   
			            },
				        error: function (e) {
				        }
				    });
		 
		 mostrarModalprocesoPenal();
	   }
 
	   
	   
	   /*
	   Funciones para agregar un Proceso Penal tpo FORMAL PRISION
	   */
	   
	   function mostrarProcesoPenalFormalPrision(id) {
		   limpiaModalProceoPenal();
		   agregarComponentesProcesoPenal(id);
		   
		    
		   $.ajax({
		    	type: 'GET',
		    	contentType: "application/json",
		        url: 'penalCausaPenalProceso/'+id,
		        dataType: 'json',
		        cache: false,
		        timeout: 600000,
		        success:function (data) {
                $.each(data, function (id, registro) {
               	
                	agregarComponentesFormalPrision(registro.id);
                });
					   
	            },
		        error: function (e) {
		        }
		    });
		   
		   
		   tipoProceso = 4;
		}
	   
	   
	   
	   function agregarComponentesFormalPrision(id){
		  
		   var componentes = "";
     	 	componentes +='<label >Formal Prisión</label>'
     	 	   +'<div class="row"><div class="form-group col-md-12">'
     	 	   
     	 	   +'<div class="form-group col-md-4">'
			   +'<label for="fechaLibertadFepp">Fecha Libertad FEPP</label>'
			   +'<input type="date" class="form-control" id="fechaLibertadFepp" placeholder="Fecha de Detencion">'
			   +'</div>'
			  
			   
			   +'<div class="form-group col-md-4">'
			   +'<label for="fechaFormalPrision">Fecha Formal Prisión</label>'
			   +'<input type="date" class="form-control" id="fechaFormalPrision" placeholder="Fecha de Detencion">'
			   +'</div>'
			   
			   
			   +'<div class="form-group col-md-4">'
			   +'<label for="fechaSujesion">Fecha Sujesión</label>'
			   +'<input type="date" class="form-control" id="fechaSujesion" placeholder="Fecha de Detencion">'
			   +'</div>'
			   
			   +'</div></div>'
			   
			   
			   +'<div class="row"><div class="form-group col-md-12">'
			   +'<div class="form-group col-md-4">'
			   +'<label for="fechaApelacion">Fecha Apelación</label>'
			   +'<input type="date" class="form-control" id="fechaApelacion" placeholder="Fecha de Detencion">'
			   +'</div>'
			   
			   
			   +'<div class="form-group col-md-4">'
			   +'<label for="fechaJuicioSumario">Fecha Juicio Sumario</label>'
			   +'<input type="date" class="form-control" id="fechaJuicioSumario" placeholder="Fecha de Detencion">'
			   +'</div>'
			   
			   +'<div class="form-group col-md-4">'
			   +'<label for="fechaJuicioOrdinario">Fecha Juicio Ordinario</label>'
			   +'<input type="date" class="form-control" id="fechaJuicioOrdinario" placeholder="Fecha de Detencion">'
			   +'</div>'
			   +'</div></div>'
			   
			   +'<div class="row"><div class="form-group col-md-12">'
			   +'<div class="form-group col-md-4">'
			   +'<label for="fechaCierreInstrucciones">Fecha Cierre de Instrucciones</label>'
			   +'<input type="date" class="form-control" id="fechaCierreInstrucciones" placeholder="Fecha de Detencion">'
			   +'</div>'
			   
			   
			   +'<div class="form-group col-md-4">'
			   +'<label for="fechaAudienciaVista">Fecha Audiencia de Vista</label>'
			   +'<input type="date" class="form-control" id="fechaAudienciaVista" placeholder="Fecha de Detencion">'
			   +'</div>'
			   
			   
			   +'<div class="form-group col-md-4">'
			   +'<label for="fechaAudiencia">Fecha Audiencia</label>'
			   +'<input type="date" class="form-control" id="fechaAudiencia" placeholder="Fecha de Detencion">'
			   +'</div>'
			   +'</div></div>'
			   +'<div class="form-group col-md-4">'
			   +'<label for="fechaAcuerdo">Fecha Acuerdo</label>'
			   +'<input type="date" class="form-control" id="fechaAcuerdo" placeholder="Fecha de Detencion">'
			   +'</div>'
			   +'<div class="form-group col-md-4" id="sentencias"></div>';

			 $("#formalPrision").append(componentes);	
				 
			 obtenerSentencias();
				 $.ajax({
				    	type: 'GET',
				    	contentType: "application/json",
				        url: 'procesoPenalFormalPrision/'+id,
				        dataType: 'json',
				        cache: false,
				        timeout: 600000,
				        success:function (data) {
		                $.each(data, function (id, registro) {
		               	 $("#fechaLibertadFepp").val(formatDateInput(registro.fechaLibertadFepp));	
		               	 $("#fechaFormalPrision").val(formatDateInput(registro.fechaFormalPrision));	
		               	 $("#fechaSujesion").val(formatDateInput(registro.fechaSujesion));	
		               	 $("#fechaApelacion").val(formatDateInput(registro.fechaApelacion));	
		               	 $("#fechaJuicioOrdinario").val(formatDateInput(registro.fechaJuicioOrdinario));	
		               	 $("#fechaJuicioSumario").val(formatDateInput(registro.fechaJuicioSumario));	
		               	 $("#fechaCierreInstrucciones").val(formatDateInput(registro.fechaCierreInstrucciones));	
		               	 $("#fechaAudienciaVista").val(formatDateInput(registro.fechaAudienciaVista));	
		               	 $("#fechaAudiencia").val(formatDateInput(registro.fechaAudiencia));	
		               	 $("#fechaAcuerdo").val(formatDateInput(registro.fechaAcuerdo));	
		               	 $("#sentencia").val(registro.sentencia);	
		                });
							   
			            },
				        error: function (e) {
				        }
				    });
			 
			 
			 
		 mostrarModalprocesoPenal();
	   }
	   
	   
	   /*
	   Funciones para OBTENER CATÁLOGOS
	   */	   
	
 
	   function mostrarModalprocesoPenal() {
		   $("#modalProcesoPenal").modal('show');
	   }
	  
	   
	   function obtenerAutoridades(){
			 $.ajax({
			    	type: 'GET',
			    	contentType: "application/json",
			        url: 'autoridades/',
			        dataType: 'json',
			        cache: false,
			        timeout: 600000,
			        success:function (data) {
			        	var result = "";
						result += '<div class="form-group">'
						+'<label for="idAutoridadFederal">Autoridad Federal</label>'
						+'<select id="idAutoridadFederal" class="custom-select form-control-border" >'
						+'<option selected>Selecciona una Opción</option>';
			             $.each(data, function (id, objeto) {
			             	result +='<option value='+objeto.id+'>'+objeto.nombre+'</option>'
			             });
						result +='</select>'
						+'</div>';
		            $("#autoridades").append(result);
		        },
			        error: function (e) {
			        }
			    });
		}
	   
	   
	   function obtenerAgraviados(){
			 $.ajax({
			    	type: 'GET',
			    	contentType: "application/json",
			        url: 'agraviados/',
			        dataType: 'json',
			        cache: false,
			        timeout: 600000,
			        success:function (data) {
			        	var result = "";
						result += '<div class="form-group">'
						+'<label for="agraviado">Agraviado</label>'
						+'<select id="agraviado" class="custom-select form-control-border" >'
						+'<option selected>Selecciona un Agraviado</option>';
			             $.each(data, function (id, objeto) {
			             	result +='<option value='+objeto.id+'>'+objeto.nombre+'</option>'
			             });
						result +='</select>'
						+'</div>';
		           $("#agraviados").append(result);
		       },
			        error: function (e) {
			        }
			    });
		}
	   


	   function formatDate(date) {
	   	if(date != null){
	   	    var d = new Date(date),
	   	        month = '' + (d.getMonth() + 1),
	   	        day = '' + d.getDate(),
	   	        year = d.getFullYear();
	   	
	   	    if (month.length < 2) 
	   	        month = '0' + month;
	   	    if (day.length < 2) 
	   	        day = '0' + day;
	   	
	   	    return [day, month, year].join('/');
	   	}else{
	   		return '-';
	   	}
	   }





	   function obtenerAcusados(){
	   	 $.ajax({
	   	    	type: 'GET',
	   	    	contentType: "application/json",
	   	        url: 'acusados/',
	   	        dataType: 'json',
	   	        cache: false,
	   	        timeout: 600000,
	   	        success:function (data) {
	   	        	var result = "";
	   				result += '<div class="form-group">'
	   				+'<label for="acusado">Acusados</label>'
	   				+'<select id="acusado" class="custom-select form-control-border" >'
	   				+'<option selected>Selecciona un Acusado</option>';
	   	             $.each(data, function (id, objeto) {
	   	             	result +='<option value='+objeto.id+'>'+objeto.nombre+'</option>'
	   	             });
	   				result +='</select>'
	   				+'</div>';
	               $("#acusados").append(result);
	               
	                result = "";
	   				result += '<div class="form-group">'
	   				+'<label for="acusadoProcesoPenal">Acusados</label>'
	   				+'<select id="acusadoProcesoPenal" class="custom-select form-control-border" >'
	   				+'<option selected>Selecciona un Acusado</option>';
	   	             $.each(data, function (id, objeto) {
	   	             	result +='<option value='+objeto.id+'>'+objeto.nombre+'</option>'
	   	             });
	   				result +='</select>'
	   				+'</div>';
	               $("#acusadosProcesoPenal").append(result);            
	           },
	   	        error: function (e) {
	   	        }
	   	    });
	   }

	   
	   function obtenerDelitos(){
			 $.ajax({
			    	type: 'GET',
			    	contentType: "application/json",
			        url: 'delitos/',
			        dataType: 'json',
			        cache: false,
			        timeout: 600000,
			        success:function (data) {
			        	var result = "";
						result += '<div class="form-group">'
						+'<label for="delito">Delitos</label>'
						+'<select id="delito" class="custom-select form-control-border" >'
						+'<option selected>Selecciona un Delito</option>';
			             $.each(data, function (id, objeto) {
			             	result +='<option value='+objeto.id+'>'+objeto.nombre+'</option>'
			             });
						result +='</select>'
						+'</div>';
		             $("#delitos").append(result);
		             
		             
		             var result = "";
						result += '<div class="form-group">'
						+'<label for="delitoProcesoPenal">Delitos</label>'
						+'<select id="delitoProcesoPenal" class="custom-select form-control-border" >'
						+'<option selected>Selecciona un Delito</option>';
			             $.each(data, function (id, objeto) {
			             	result +='<option value='+objeto.id+'>'+objeto.nombre+'</option>'
			             });
						result +='</select>'
						+'</div>';
		             $("#delitosProcesoPenal").append(result);
		         },
			        error: function (e) {
			        }
			    });
		}


	   function obtenerSentencias(){
			 $.ajax({
			    	type: 'GET',
			    	contentType: "application/json",
			        url: 'sentencias/',
			        dataType: 'json',
			        cache: false,
			        timeout: 600000,
			        success:function (data) {
			        	var result = "";
						result += '<div class="form-group">'
						+'<label for="sentencia">Sentencias</label>'
						+'<select id="sentencia" class="custom-select form-control-border" >'
						+'<option selected>Selecciona un Registro</option>';
			             $.each(data, function (id, objeto) {
			             	result +='<option value='+objeto.id+'>'+objeto.tipo+'</option>'
			             });
						result +='</select>'
						+'</div>';
		             $("#sentencias").append(result);
		             
		             
		            
		         },
			        error: function (e) {
			        }
			    });
		}


	   function abrirModal(){
	   	  $("#idCausaPenal").val("");
	   	  $("#causaPenal").val("");	
	   	  $("#averiguacionPrevia").val("");
	   	  $("#observaciones").val("");
	   	  $("#agraviado").val("");
	   	  $("#acusado").val("");
	   	  $("#delito").val("");
	   	  $("#exampleModal").modal('show');
	   }

	   
	   function formatDateInput(date) {
			if(date != null){
			    var d = new Date(date),
			        month = '' + (d.getMonth() + 1),
			        day = '' + d.getDate(),
			        year = d.getFullYear();
			
			    if (month.length < 2) 
			        month = '0' + month;
			    if (day.length < 2) 
			        day = '0' + day;
			
			    return [ year,month,day].join('-');
			}else{
				return '';
			}
		}
</script>
</body>
</html>