<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		
		<title>T. S. J. del Estado de Guerrero</title>
	    <!-- Font Awesome Icons -->
		<!--<h:outputStylesheet library="css" name="/plugins/fontawesome-free/css/all.min.css"> </h:outputStylesheet> -->
		
		
		
		  <link href="#" th:href="@{/plugins/fontawesome-free/css/all.min.css}" rel="stylesheet"/>
		
		
			 <!-- Tempusdominus Bbootstrap 4 -->
  		<!-- T<h:outputStylesheet library="css" name="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"/> -->
  		
  	    <link href="#" th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>
  		
		
	    <!-- Theme style -->
	    <!-- <h:outputStylesheet library="css" name="dist/css/layoutVW.css"> </h:outputStylesheet> -->
	    <link href="#" th:href="@{/dist/css/layoutVW.css}" rel="stylesheet"/>
	    
	    <!-- Google Font: Source Sans Pro -->
    	 <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" /> FALTA AGREGAR-->
  		 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
   
    	
    	<!-- <h:outputStylesheet library="webjars" name="font-awesome/5.8.2/css/all.min-jsf.css" />-->
		<!-- <h:outputStylesheet library="webjars" name="font-awesome/5.8.2/css/v4-shims.min-jsf.css" />-->
		    	
	</head>
<body class="hold-transition sidebar-mini">
 
  		<div class="wrapper">
		
			<div id="top">
				 <!-- Navbar TOP -->
    <nav class="main-header navbar navbar-expand navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
        </li>
      </ul>
      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="../resources/css/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"></img>
          </div>
          <div class="info">
            <a href="#" class="d-block">Nombre de Usuario</a>
          </div>
        </div>

        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 new messages
              <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-users mr-2"></i> 8 friend requests
              <span class="float-right text-muted text-sm">12 hours</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#">
            <!--<i class="fas fa-th-large"></i>-->
            <i class="far fa-question-circle"></i>
          </a>
        </li>
      </ul>
    </nav>
			</div>
			<div id="left">
				 <aside class="main-sidebar sidebar-light-light sidebar-no-expand elevation-2">
      <!-- Brand Logo -->
      <div style="background-color: #eaeaea; height:82px; border-bottom:1px solid #dee2e6;">
        <a href="IndexVW.html" class="brand-link logo-switch">
          <img src="../resources/css/dist/img/VWletter.png" class="brand-image-xs logo-xl" style="opacity: .8"></img>
          <img src="../resources/css/dist/img/vw-logo.ico" class="brand-image-xl logo-xs" style="opacity: .8"></img>
        </a>
      </div>
      <!-- Sidebar -->
      <div class="sidebar-light">
        <!-- Sidebar Menu -->
        <nav class="mt-3">
          <ul id="sidebarRight" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
             <li class="nav-item card">
               <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                <i class="fas fa-file-export"></i>
                <p>
                  Reportes
                </p>
              </a>
            <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu shadow">

                 <li><a href="/PortalVicepresidencia/pages/RSalesPlanningMeetingBrands.xhtml" class="dropdown-item">SPM Brands </a></li>
                 <li><a href="/PortalVicepresidencia/pages/LCVSalesReport.xhtml" class="dropdown-item">LCV Sales</a></li>
                 <li><a href="/PortalVicepresidencia/pages/MarketingReport.xhtml" class="dropdown-item">Marketing</a></li>
                 <li><a href="/PortalVicepresidencia/pages/MarktberichtReport.xhtml" class="dropdown-item">Marktbericht</a></li>

              </ul>
            </li>
           </ul>
        </nav>
        <!-- /.sidebar-menu -->

      </div>
      <!-- /.sidebar -->
    </aside>
			</div>
			
			<div id="body" >
				<div class="container">
   <br><br>
   <button class="btn btn-lg btn-primary btn-block" type="button" id="altaCurso" ><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Nuevo Reporte</button>

  <div class="panel panel-default" id="proyectos">
   <br><br>
	<table class="table">
		<thead>
		</thead>
		<tr>
			<th scope="col">Título</th>
			<th>Descripción</th>
			<th></th>
		</tr>
		<tbody>
			<tr scope="row" th:each="curso : ${cursos}">
				<td><span th:text="${curso.titulo}"></span></td>
				<td><span th:text="${curso.descripcion}"></span></td>
				<td>
					<button type="button" class="btn btn-default"> <span class="glyphicon glyphicon-pencil" arial-hidden="true"></span></button>
					<button type="button" class="btn btn-danger"> <span class="glyphicon glyphicon-trash" arial-hidden="true"></span></button>
				</td>
			</tr>
		</tbody>
	</table>
 </div>
</div>

			</div>
			
			<div id="right">
				<aside class="control-sidebar control-sidebar-light">
      <!-- Control sidebar content goes here -->
      <div class="card card-white">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="p-3">
                  <h5>Title</h5>
                  <p>Sidebar content</p>
                </div>
                <div class="p-1">
                  <button type="button" class="btn btn-primary" style="margin-right: 5px;">
                    <i class="far fa-check-square">   Aceptar</i>
                  </button>
                </div>
                <div class="p-1">
                  <button type="button" class="btn btn-danger" style="margin-right: 5px;">
                    <i class="far fa-window-close">   Descartar</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-inline">
              <div class="image">
                <img src="../resources/css/dist/img/user2-160x160.jpg" class="image"/>
              </div>
              <div class="icheck-info">
                <input type="checkbox" id="checkboxR"/>
                <label for="checkboxR"></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-inline">
              <div class="image">
                <img src="../resources/css/dist/img/user2-160x160.jpg" class="image"/>
              </div>
              <div class="icheck-info">
                <input type="checkbox" id="checkboxR2"/>
                <label for="checkboxR2">carga de archivo</label>
              </div>
            </div>
          </div>

        </div>
      </div>

    </aside>
 	
			</div>
			
			<div id="footer">
				<footer class="main-footer">
      <!-- To the right -->
      <div class="float-right d-none d-sm-inline">

      </div>
      <!-- Default to the left -->
      <strong>Copyright  2020 <a href="https://www.vw.com.mx/">VolksWagen de Mexico</a>.</strong> All rights reserved.
    </footer>
			</div>
		</div>
    
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <!-- <script type="text/javascript" src="../static/plugins/jquery/jquery.min.js"></script>-->
         <!--   <link href="#" th:href="@{/plugins/jquery/jquery.min.js}" rel="stylesheet"/>-->
         
     <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
                              
                                      
                                      
                                      
    
     <script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
     <script th:src="@{/dist/js/adminVW.js}"></script>
     <script src="https://cdn.jsdelivr.net/gh/RubaXa/Sortable/Sortable.min.js"></script>
     <script th:src="@{/dist/js/layoutVW.js}"></script>
  
    	

	</body>
</html> 

