<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		
		<title>T. S. J. del Estado de Guerrero</title>
		
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link href="#" th:href="@{/plugins/fontawesome-free/css/all.min.css}" rel="stylesheet"/>
  
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link href="#" th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>
  
  <!-- iCheck -->
  <link href="#" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}" rel="stylesheet"/>
  <!-- JQVMap -->
  <link href="#" th:href="@{/plugins/jqvmap/jqvmap.min.css}" rel="stylesheet"/>
  <!-- Theme style -->
  <link href="#" th:href="@{/dist/css/adminlte.min.css}" rel="stylesheet"/>
  <!-- overlayScrollbars -->
  <link href="#" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}" rel="stylesheet"/>
  <!-- Daterange picker -->
  <link href="#" th:href="@{/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet"/>
  <!-- summernote -->
  <link href="#" th:href="@{/plugins/summernote/summernote-bs4.min.css}" rel="stylesheet"/>	
  
    <!-- Bootstrap Color Picker -->
    <link href="#" th:href="@{/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet"/>	
  
    

 </head>
<style>
	body{
		
	}
</style>
  <body class="hold-transition sidebar-mini layout-fixed">

		
    <div class="container">
     	<div class="row" style="text-align:center; margin:auto; padding-top:10%;">  
    		<div class="col-lg-12 col-12">
				<img 
				
					src="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/dist/img/AdminLTELogo.png" 
					alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
					style="opacity: .8; width: 200px">
    		</div>
    		<div class="col-lg-4 col-4">
    		</div> 
       
    		<div class="col-lg-4 col-4">

		      <form class="form-signin" th:action="@{/login}" style="padding-top: 45px;" method="post" >
		        <h2 class="form-signin-heading">
		        	Iniciar Sesión
		        </h2>
		        <div class="mb-3">
			        <label 
			        	for="numControl" 
			        	class="sr-only">
			        		Número de Control
			        </label>
			        <input 
			        	type="text" 
			        	id="numControl"  
			        	name="username" 
			        	class="form-control" 
			        	placeholder="Número de Control"/>
		        </div>
		        <div class="mb-3">
		        <label 
		        	for="clave" 
		        	class="sr-only">
		        	Contraseña
		        </label>
		        <input 
		        	type="password" 
		        	id="clave"  
		        	name="clave" 
		        	class="form-control" 
		        	placeholder="Clave"/>
		        	</div>
		        <div class="mb-3">
         			<button type="button" class="btn btn-primary" onclick="inicio()" >Inicio</button>
         		</div>
         		<a class="underlineHover" href="#">¿Has olvidado tu contraseña?</a>
      		</form>
		</div>
	
		<div class="col-lg-4 col-4">
		</div>
	</div>
    </div> <!-- /container -->

<script th:src="@{/plugins/jquery/jquery.min.js}"></script>

<!-- jQuery UI 1.11.4 -->

<script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- ChartJS -->
<script th:src="@{/plugins/chart.js/Chart.min.js}"></script>
<!-- Sparkline -->
<script th:src="@{/plugins/sparklines/sparkline.js}"></script>
<!-- JQVMap -->
<script th:src="@{/plugins/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>
<!-- jQuery Knob Chart -->
<script th:src="@{/plugins/jquery-knob/jquery.knob.min.js}"></script>
<!-- daterangepicker -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
<!-- Summernote -->
<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
<!-- overlayScrollbars -->
<script th:src="@{/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/dist/js/demo.js}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script th:src="@{/dist/js/pages/dashboard.js}"></script>




<script>

function inicio() {

	function agregar() {
		  var usuario = {}
		  usuario["numeroControl"] = $("#numControl").val();	
		  usuario["clave"] = $("#clave").val();	
		  
	    $.ajax({
	    	type: 'POST',
	        contentType: "application/json",
	        url: 'inicio/',
	        data: JSON.stringify(usuario),
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success:function (data) {
  			
	        },   
	        error: function (e) {
	        }
	    });
	}

		
}

</script>
</body>
</html>