<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		
		<title>T. S. J. del Estado de Guerrero</title>
		
		
		
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link href="#" th:href="@{/plugins/fontawesome-free/css/all.min.css}" rel="stylesheet"/>
  
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link href="#" th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>
  
  <!-- iCheck -->
  <link href="#" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}" rel="stylesheet"/>
  <!-- JQVMap -->
  <link href="#" th:href="@{/plugins/jqvmap/jqvmap.min.css}" rel="stylesheet"/>
  <!-- Theme style -->
  <link href="#" th:href="@{/dist/css/adminlte.min.css}" rel="stylesheet"/>
  <!-- overlayScrollbars -->
  <link href="#" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}" rel="stylesheet"/>
  <!-- Daterange picker -->
  <link href="#" th:href="@{/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet"/>
  <!-- summernote -->
  <link href="#" th:href="@{/plugins/summernote/summernote-bs4.min.css}" rel="stylesheet"/>		
  
  
	<style type="text/css">
	
	</style>
  
  
  </head>

<body class="hold-transition sidebar-mini layout-fixed">


<div class="wrapper">


  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
   </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">TSJ de Guerrero</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img th:src="@{http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">César López</a>
        </div>
      </div>



		 <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item ">
            <a href="#" class="nav-link ">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Reportes
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
              <ul class="nav nav-treeview">
              <li class="nav-item menu-open">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/reporteAdmin/Uno" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reporte Penal</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/catalogoDistrito/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reporte Incidentes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/catalogoRamo/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reporte Amparos</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/catalogoDelito/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reporte 3</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/catalogoDialecto/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reporte 4</p>
                </a>
              </li>
              
            </ul>
          </li>
          
          
           <li class="nav-item ">
            <a href="#" class="nav-link">
              <i class="nav-icon nav-icon fas fa-copy"></i>
              <p>
                Catálogos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
             <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/catalogoMunicipio/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Municipios</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/catalogoDistrito/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Distritos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/catalogoRamo/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ramos</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/catalogoDelito/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Delitos</p>
                </a>
              </li>
               <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/catalogoDialecto/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dialectos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/catalogoAutoridad/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Autoridades Federales</p>
                </a>
              </li>
                <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/catalogoJuzgado/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Juzgados</p>
                </a>
              </li>
          
              
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Reporte Causas Penales </h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" th:href="@{/inicio/}">inicio</a></li>
              <li class="breadcrumb-item active"> <a href="#" th:href="@{/logout}"  >Cerrar Sesión</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      
      <div class="row">
			<div class="col-md-12" >
			
		
				
				<div class="form-group row col-md-10" style="text-align:left; ">
				  <div class="form-group row">
				    <label for="fechaInicial" class="col-sm-2 col-form-label">Fecha Inicial</label>
				    <div class="col-sm-3">
				      <input type="date" class="form-control" id="fechaInicial" value="dd/mm/aa">
				    </div>
				    <label for="fechaFinal" class="col-sm-2 col-form-label" >Fecha Final</label>
				    <div class="col-sm-3">
				      <input type="date" class="form-control" id="fechaFinal" value="dd/mm/aa" >
				    </div>
				    <div class="col-sm-1">
				     <button type="button" class="btn btn-primary" > <i class="fas fa-search"></i> </button>
				    </div>	
				    <div class="col-sm-1" >
					<button type="button" class="btn btn-success" onclick="abrirModal()"> <i class="fas fa-download"></i> </button>
					</div>			     
				  </div>
			
				</div>
				
				<div class="col-md-12" style="text-align:center; height:10px;">
				</div>		
				 <div class="col-md-12" style="text-align:center;">
				 		<div id ="tabla" class="table-responsive"></div>
		         </div>    
        	</div>
        </div>
        <!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header panel panel-primary" >
				        <h5 class="modal-title" id="exampleModalLabel">Descarga de Reporte por Año/Mes</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
				      				<div class="col-md-12" style="text-align:left; ">
				      
				      				  <div class="form-group row">
				      
				                          				<div class="form-group col-md-5" id="anios"></div>
				                          				<div class="form-group col-md-5" id="meses"></div>
				                          				<div class="form-group col-md-2">
											                <a href="#" th:href="@{/download/file/}"  target="_blank" download="reportePenalCausaPenal.pdf">
											         	       <button type="button" class="btn btn-success" > <i class="fas fa-download"></i> </button>
											         	    </a>     
				                                        </div>
				        			   </div>
				        			  </div>  
				      </div>
				      
				    </div>
				  </div>
				</div>
      	
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Tribunal Superior de Justicia del Estado de Guerrero <a href="https://adminlte.io"> Sitio Web
    </a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.1.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>

<!-- jQuery UI 1.11.4 -->

<script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- ChartJS -->
<script th:src="@{/plugins/chart.js/Chart.min.js}"></script>
<!-- Sparkline -->
<script th:src="@{/plugins/sparklines/sparkline.js}"></script>
<!-- JQVMap -->
<script th:src="@{/plugins/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>
<!-- jQuery Knob Chart -->
<script th:src="@{/plugins/jquery-knob/jquery.knob.min.js}"></script>
<!-- daterangepicker -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
<!-- Summernote -->
<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
<!-- overlayScrollbars -->
<script th:src="@{/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/dist/js/demo.js}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script th:src="@{/dist/js/pages/dashboard.js}"></script>

<script>

$(document).ready(function(){  
	obtenerRegistros();

}) 


function obtenerRegistros(){
	 $.ajax({
	    	type: 'GET',
	    	contentType: "application/json",
	        url: 'registrosPenalUno/',
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success:function (data) {
	        	document.getElementById("tabla").innerHTML="";
				var result = "";
				result += '<table class="table table-striped table-bordered "  id="tablaPenalUno"    >'
				+'<thead class="thead-dark" >'
				+'<tr>'
				+'<th scope="col">ID</th>'
				+'<th>CARPETA JUDICIAL</th>'
				+'<th>Distrito Judicial</th>'
				+'<th>Fecha de Inicio</th>'
				+'<th>C/D</th>'
				+'<th>S/D</th>'
				+'<th>Nombre Inputado</th>'
				+'<th>Apellido Materno</th>'
				+'<th>Apellido Paterno</th>'
				+'<th>Edad</th>'
				+'<th>Lengua</th>'
				+'<th>Delito(s)</th>'
				+'<th>Nombre Agraviado</th>'
				+'<th>Apellido Paterno</th>'
				+'<th>Apellido Materno</th>'
				+'<th>Edad</th>'
				+'<th>Lengua</th>'
				+'<th>Liberada</th>'
				+'<th>Negada</th>'
				+'<th>Ejecutada</th>'
				+'</tr>'
				+'</thead>'
				+'<tbody>';

                $.each(data, function (id, registro) {
                	result +='<tr>'
            				+'<td>'+registro.id+'</td>'
            				+'<td>'+registro.carpetaJudicial+'</td>'
                			+'<td>'+registro.nombreDistrito+'</td>'
                		    +'<td>21/11/2021</td>'
                		    +'<td>No</td>'
                		    +'<td>Si</td>'
                		    +'<td>'+registro.acusadoNombre+'</td>'
                		    +'<td>'+registro.acusadoApellidoPaterno+'</td>'
                		    +'<td>'+registro.acusadoApellidoMaterno+'</td>'
                		    +'<td>'+registro.edadAcusado+'</td>'
                		    +'<td>'+registro.nombreLenguaAcusado+'</td>'
                		    +'<td>'+registro.nombreDelito+'</td>'
                		    +'<td>'+registro.agraviadoNombre+'</td>'
                		    +'<td>'+registro.agraviadoApellidoPaterno+'</td>'
                		    +'<td>'+registro.agraviadoApellidoMaterno+'</td>'
                		    +'<td>'+registro.edadAgraviado+'</td>'
                		    +'<td>'+registro.nombreLenguaAgraviado+'</td>'
                		    +'<td>25/11/2021</td>'
                		    +'<td>-</td>'
                		    +'<td>-</td>'
                		    
                		   
                		    +'</tr>'
                });
				result +='</tbody>'
				+'</table>';
                $("#tabla").append(result);
        },
	        error: function (e) {
	        }
	    });
}


function abrirModal(){

	document.getElementById("anios").innerHTML="";
	document.getElementById("meses").innerHTML="";

		var result = '<label for="anio" class="col-sm-2 col-form-label">Año</label>'
		+'<select id="anio" class="custom-select form-control-border" >'
		+'<option selected>Selecciona un Año</option>';
        result +='<option value=2021>2021</option>'
        result +='<option value=2022>2022</option>'
        result +='<option value=2023>2023</option>'
        
		result +='</select>';
    $("#anios").append(result);
		
	
	   result ='<label for="mes" class="col-sm-2 col-form-label">Mes</label>'
		+'<select id="mes" class="custom-select form-control-border" >'
		+'<option selected>Selecciona un Mes</option>';
        result +='<option value=1>Enero</option>'
        result +='<option value=2>Febrero</option>'
        result +='<option value=3>Marzo</option>'
        result +='<option value=4>Abril</option>'
        result +='<option value=5>Mayo</option>'
        result +='<option value=6>Junio</option>'
        result +='<option value=7>Julio</option>'
        result +='<option value=8>Agoto</option>'
        result +='<option value=9>Septiembre</option>'
        result +='<option value=10>Octubre</option>'
        result +='<option value=11>Noviembre</option>'
        result +='<option value=12>Dicimebre</option>'
		result +='</select>';
    $("#meses").append(result);
	
	$("#exampleModal").modal('show');
}


function generarReporte(){
	 $.ajax({
	    	type: 'GET',
	    	contentType: "application/json",
	        url: 'generarReporte/',
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success:function (data) {
              
       },
	        error: function (e) {
	} 
  });
}


</script>
</body>
</html>