<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		
		<title>T. S. J. del Estado de Guerrero</title>
		
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link href="#" th:href="@{/plugins/fontawesome-free/css/all.min.css}" rel="stylesheet"/>
  
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link href="#" th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>
  
  <!-- iCheck -->
  <link href="#" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}" rel="stylesheet"/>
  <!-- JQVMap -->
  <link href="#" th:href="@{/plugins/jqvmap/jqvmap.min.css}" rel="stylesheet"/>
  <!-- Theme style -->
  <link href="#" th:href="@{/dist/css/adminlte.min.css}" rel="stylesheet"/>
  <!-- overlayScrollbars -->
  <link href="#" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}" rel="stylesheet"/>
  <!-- Daterange picker -->
  <link href="#" th:href="@{/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet"/>
  <!-- summernote -->
  <link href="#" th:href="@{/plugins/summernote/summernote-bs4.min.css}" rel="stylesheet"/>	
  
    <!-- Bootstrap Color Picker -->
    <link href="#" th:href="@{/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet"/>	
  
    

  </head>

<body class="hold-transition sidebar-mini layout-fixed">


<div class="wrapper">
<!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
   </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Estado de Guerrero</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img th:src="@{http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alejandro Mendoza</a>
        </div>
      </div>


      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
           <li class="nav-item menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Penales
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/penalCausasTramite/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Causas Penales</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/penalAmparo/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Registro de Amparo</p>
                </a>

              </li>
              
              
              <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/penalDetenido/inicio" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Detenidos</p>
                </a>
              </li>
              
              <li class="nav-item">
                <a href="http://127.0.0.1:7982/demo-0.0.1-SNAPSHOT/penalCausasTramite/inicio" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Causas en Trámite</p>
                </a>
              </li>
                </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Causas Penales</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" th:href="@{/inicio/}">inicio</a></li>
              <li class="breadcrumb-item active"> <a href="#" th:href="@{/logout}"  >Cerrar Sesión</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      
      <div class="row">
      		<div class="col-md-1" ></div>
			<div class="col-md-10" >
			
				<div class="col-md-12" style="text-align:left; padding-bottom:10px;">
		                <button type="button" class="btn btn-danger" onclick="abrirModal()"> <i class="fas fa-plus"></i> </button>
				</div>
				<div class="col-md-12" style="text-align:center; height:10px;">
				</div>		
				 <div class="col-md-12" style="text-align:center;">
				 		<div id ="tabla"></div>
		         </div>    
		      <div class="col-md-1" ></div>
        	</div>
        </div>
        <!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-lg" role="document">
				    <div class="modal-content">
				      <div class="modal-header panel panel-primary" >
				        <h5 class="modal-title" id="exampleModalLabel">Agregar Causa Penal</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				       <form class="needs-validation" novalidate>
				      <div class="modal-body">
				       
					 		<input type="text" class="form-control" id="id" >
			    			
			    			<div class="row">
				    			<div class="form-group  col-md-4">
	                   				<label for="CausasTramite">Causa Penal</label>
	                   				<input type="text" class="form-control" id="CausasTramite" placeholder="Causa Penal">
	                 			</div>
	                 			<div class="form-group col-md-4">
	                   				<label for="averiguacionPrevia">Averiguación Previa</label>
	                   				<input type="text" class="form-control" id="averiguacionPrevia" placeholder="Averiguacion Previa">
	                 			</div>
								
								<div class="form-group date col-md-4">
				                    <label for="fechaRadicacion">Fecha de Radicación</label>
				                    <div class="input-group date"  data-target-input="nearest">
				                        <input type="text" id="fechaRadicacion" class="form-control datetimepicker-input" data-target="#fechaRadicacion"/>
				                        <div class="input-group-append" data-target="#fechaRadicacion" data-toggle="datetimepicker">
				                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
				                        </div>
				                    </div>
				                </div>
							</div>	
							
							<div class="row">	
                 			<div class="form-group col-md-12">
                   				<label>Acusado: </label>
                 			</div>
                 			</div>
							
							<div class="row">
								<div class="form-group col-md-4">
	                   				<label for="nombreAcusado">Acusado Nombre(s)</label>
	                   				<input type="text" class="form-control" id="nombreAcusado" placeholder="Nombre(s)">
	                 			</div>
	                 			
	                 			<div class="form-group col-md-4">
	                   				<label for="apellidoPaternoAcusado">Apellido Paterno</label>
	                   				<input type="text" class="form-control" id="apellidoPaternoAcusado" placeholder="Apellido Paterno">
	                 			</div>
	                 			
	                 			<div class="form-group col-md-4">
	                   				<label for="apellidoMaternoAcusado">Apellido Materno</label>
	                   				<input type="text" class="form-control" id="apellidoMaternoAcusado" placeholder="Apellido Materno">
	                 			</div>
                 			</div>

							<div class="row">	
                 			<div class="form-group col-md-12">
                   				<label>Agraviado: </label>
                 			</div>
                 			</div>
							
							<div class="row">
								<div class="form-group col-md-4">
	                   				<label for="nombreAgraviado">Agraviado Nombre(s)</label>
	                   				<input type="text" class="form-control" id="nombreAgraviado" placeholder="Nombre(s)">
	                 			</div>
	                 			
	                 			<div class="form-group col-md-4">
	                   				<label for="apellidoPaternoAgraviado">Apellido Paterno</label>
	                   				<input type="text" class="form-control" id="apellidoPaternoAgraviado" placeholder="Apellido Paterno">
	                 			</div>
	                 			
	                 			<div class="form-group col-md-4">
	                   				<label for="apellidoMaternoAgraviado">Apellido Materno</label>
	                   				<input type="text" class="form-control" id="apellidoMaternoAgraviado" placeholder="Apellido Materno">
	                 			</div>
                 			</div>
                 			
							<div class="row">
								<div class="form-group col-md-4" id="delitos"></div>
	
	                 			
	                 			<div class="form-group col-md-4">
	                   				<label for="edad">Edad</label>
	                   				<input type="text" class="form-control" id="edad" placeholder="Introduce Edad">
	                 			</div>
	                 			
	                 			
	                 			<div class="form-group col-md-4" id="dialectos"></div>
                 			</div>
                 				
                 			<div class="row">	
                 			<div class="form-group col-md-12">
                   				<label>Orden de Aprensión: </label>
                 			</div>
                 			</div>
                 			
                 			<div class="row">
			                <div class="form-group col-md-4">
			                    <label for="aprensionLiberacion">Liberación</label>
			                    <div class="input-group date"  data-target-input="nearest">
			                        <input type="text" id="aprensionLiberacion" class="form-control datetimepicker-input" data-target="#aprensionLiberacion"/>
			                        <div class="input-group-append" data-target="#aprensionLiberacion" data-toggle="datetimepicker">
			                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			                        </div>
			                    </div>
			                </div>

							<div class="form-group col-md-4">
			                    <label for="aprensionNegacion">Negación</label>
			                    <div class="input-group date"  data-target-input="nearest">
			                        <input type="text" id="aprensionNegacion" class="form-control datetimepicker-input" data-target="#aprensionNegacion"/>
			                        <div class="input-group-append" data-target="#aprensionNegacion" data-toggle="datetimepicker">
			                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			                        </div>
			                    </div>
			                </div>
                 			                 			
                 			<div class="form-group col-md-4">
			                    <label for="aprensionEjecucion">Ejecución</label>
			                    <div class="input-group date" data-target-input="nearest">
			                        <input type="text"  id="aprensionEjecucion" class="form-control datetimepicker-input" data-target="#aprensionEjecucion"/>
			                        <div class="input-group-append" data-target="#aprensionEjecucion" data-toggle="datetimepicker">
			                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			                        </div>
			                    </div>
			                </div>
                 			</div>
							
							
							<div class="row">	
                 			<div class="form-group col-md-12">
                   				<label>Orden de Reaprensión:</label>
                 			</div>
                 			</div>
                 			
							<div class="row">
							
			    			<div class="form-group col-md-6">
			                    <label for="reaprensionLiberacion">Liberación</label>
			                    <div class="input-group date"  data-target-input="nearest">
			                        <input type="text" id="reaprensionLiberacion" class="form-control datetimepicker-input" data-target="#reaprensionLiberacion"/>
			                        <div class="input-group-append" data-target="#reaprensionLiberacion" data-toggle="datetimepicker">
			                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			                        </div>
			                    </div>
			                </div>
			    			
							
							<!-- Date and time -->
			                <div class="form-group col-md-6">
			                    <label for="reservationdatetime">Ejecución</label>
			                    <div class="input-group date"  data-target-input="nearest">
			                        <input type="text" id="reservationdatetime" class="form-control datetimepicker-input" data-target="#reservationdatetime"/>
			                        <div class="input-group-append" data-target="#reservationdatetime" data-toggle="datetimepicker">
			                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
			                        </div>
			                    </div>
			                </div>
                
							</div>
							
							<div class="row">
							<div class="btn-group  col-md-12 btn-group-toggle" data-toggle="buttons">
							    <label class="btn btn-info">
							        <input type="radio" name="tipoCausaV" value="penal" autocomplete="off"> CAUSAS PENALES
							    </label>
							    <label class="btn btn-info active">
							        <input type="radio" name="tipoCausaV" value="radicada" autocomplete="off">  CAUSA PENAL RADICADA
							    </label>
							</div>
							</div>
							
						   </div>
						  <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
					        <button type="button" class="btn btn-primary" onclick="agregar()" >Guardar</button>
					      </div>
						</form>
				    
				      
				    </div>
				  </div>
				</div>
      	
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 3.1.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>

<!-- jQuery UI 1.11.4 -->

<script th:src="@{/plugins/jquery-ui/jquery-ui.min.js}"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- ChartJS -->
<script th:src="@{/plugins/chart.js/Chart.min.js}"></script>
<!-- date-range-picker -->
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- bootstrap color picker -->
<script th:src="@{/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js}"></script>
<!-- Sparkline -->
<script th:src="@{/plugins/sparklines/sparkline.js}"></script>
<!-- JQVMap -->
<script th:src="@{/plugins/jqvmap/jquery.vmap.min.js}"></script>
<script th:src="@{/plugins/jqvmap/maps/jquery.vmap.usa.js}"></script>
<!-- jQuery Knob Chart -->
<script th:src="@{/plugins/jquery-knob/jquery.knob.min.js}"></script>
<!-- daterangepicker -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
<!-- Summernote -->
<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
<!-- overlayScrollbars -->
<script th:src="@{/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/dist/js/adminlte.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/dist/js/demo.js}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script th:src="@{/dist/js/pages/dashboard.js}"></script>


<script th:src="@{/plugins/inputmask/jquery.inputmask.min.js}"></script>
<!-- date-range-picker -->



<script>

$(document).ready(function(){  
	mostrarpenalCausasTramitees();
	$("#nombre").val("");	
	$("#descripcion").val("");	
	$("#id").val("");	
	obtenerDelitos();
	obtenerDialectos();
}) 



function obtenerDelitos(){
	 $.ajax({
	    	type: 'GET',
	    	contentType: "application/json",
	        url: 'delitos/',
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success:function (data) {
	        	var result = "";
				result += '<div class="form-group">'
				+'<label for="municipio">Delitos</label>'
				+'<select id="delito" class="custom-select form-control-border" >'
				+'<option selected>Selecciona un Delito</option>';
	             $.each(data, function (id, objeto) {
	             	result +='<option value='+objeto.id+'>'+objeto.nombre+'</option>'
	             });
				result +='</select>'
				+'</div>';
             $("#delitos").append(result);
         },
	        error: function (e) {
	        }
	    });
}


function obtenerDialectos(){
	 $.ajax({
	    	type: 'GET',
	    	contentType: "application/json",
	        url: 'dialectos/',
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success:function (data) {
	        	var result = "";
				result += '<div class="form-group">'
				+'<label for="municipio">Dialectos</label>'
				+'<select id="dialecto" class="custom-select form-control-border" >'
				+'<option selected>Selecciona un Dialecto</option>';
	             $.each(data, function (id, objeto) {
	             	result +='<option value='+objeto.id+'>'+objeto.nombre+'</option>'
	             });
				result +='</select>'
				+'</div>';
            $("#dialectos").append(result);
        },
	        error: function (e) {
	        }
	    });
}


function abrirModal(){
	$("#nombre").val("");	
	$("#descripcion").val("");
	$("#id").val("");
	$("#exampleModal").modal('show');
}

function agregar() {
		  var penalCausasTramite = {}
		  penalCausasTramite["CausasTramite"] = $("#CausasTramite").val();	
		  penalCausasTramite["averiguacionPrevia"] = $("#averiguacionPrevia").val();
		  penalCausasTramite["fechaRadicacionV"] = $("#fechaRadicacion").val();
		  
		  penalCausasTramite["nombreAcusado"] = $("#nombreAcusado").val();
		  penalCausasTramite["apellidoMaternoAcusado"] = $("#apellidoMaternoAcusado").val();
		  penalCausasTramite["apellidoPaternoAcusado"] = $("#apellidoPaternoAcusado").val();
		  
		  penalCausasTramite["nombreAgraviado"] = $("#nombreAgraviado").val();
		  penalCausasTramite["apellidoPaternoAgraviado"] = $("#apellidoPaternoAgraviado").val();
		  penalCausasTramite["apellidoMaternoAgraviado"] = $("#apellidoMaternoAgraviado").val();
		  
		  penalCausasTramite["edad"] = $("#edad").val();
		  
		  penalCausasTramite["aprensionLiberacionV"] = $("#aprensionLiberacion").val();
		  penalCausasTramite["aprensionNegacionV"] = $("#aprensionNegacion").val();
		  penalCausasTramite["aprensionEjecucionV"] = $("#aprensionEjecucion").val();
		  penalCausasTramite["reaprensionLiberacionV"] = $("#reaprensionLiberacion").val();
		  penalCausasTramite["reaprensionEjecucionV"] = $("#reaprensionEjecucion").val();

		  penalCausasTramite["tipoCausaV"] = $("#tipoCausaV").val();
		  penalCausasTramite["delitoV"] = $("#delito").val();
		  penalCausasTramite["dialectoV"] = $("#dialecto").val();

	    $.ajax({
	    	type: 'POST',
	        contentType: "application/json",
	        url: 'add/',
	        data: JSON.stringify(penalCausasTramite),
	        dataType: 'json',
	        cache: false,
	        timeout: 600000,
	        success:function (data) {
    			$("#exampleModal").modal('hide');
    			$("#nombre").val("");	
    			$("#descripcion").val("");	
    			mostrarpenalCausasTramitees();
	        },   
	        error: function (e) {
	        }
	    });
	}

	

	function editar( id) {
				 $.ajax({
				    	type: 'GET',
				    	contentType: "application/json",
				        url: 'penalCausasTramite/'+id,
				        dataType: 'json',
				        cache: false,
				        timeout: 600000,
				        success:function (data) {
		                 $.each(data, function (id, penalCausasTramites) {
		                		$("#id").val(penalCausasTramites.id);	
		                		$("#nombre").val(penalCausasTramites.nombre);	
		            			$("#descripcion").val(penalCausasTramites.descripcion);
		            			$("#exampleModal").modal('show');
		                 });
							   
			            },
				        error: function (e) {
				        }
				    });
				}	
	
	   function eliminar( id) {
			 $.ajax({
			    	type: 'GET',
			    	contentType: "application/json",
			        url: 'penalCausasTramite/del/'+id,
			        dataType: 'json',
			        cache: false,
			        timeout: 600000,
			        success:function (data) {
	                 $.each(data, function (id, penalCausasTramite) {
	                	 mostrarpenalCausasTramitees();
	                 });
						   
		            },
			        error: function (e) {
			        }
			    });
			}	
	   
	   
	   function mostrarpenalCausasTramitees() {
			 $.ajax({
			    	type: 'GET',
			    	contentType: "application/json",
			        url: 'allPenalCausasTramitees/',
			        dataType: 'json',
			        cache: false,
			        timeout: 600000,
			        success:function (data) {
			        	document.getElementById("tabla").innerHTML="";
						var result = "";
						result += '<table class="table" id="tablapenalCausasTramites">'
						+'<thead class="thead-dark" >'
						+'<tr>'
						+'<th scope="col">ID</th>'
						+'<th>Causa Penal</th>'
						+'<th>A Previa</th>'
						+'<th>Radicación</th>'
						+'<th>A Liberación</th>'
						+'<th>A Negación</th>'
						+'<th>A Ejecución</th>'
						+'<th></th>'
						+'</tr>'
						+'</thead>'
						+'<tbody>';

		                $.each(data, function (id, penalCausasTramite) {
		                	result +='<tr>'
		                			+'<td>'+penalCausasTramite.id+'</td>'
		                		    +'<td>'+penalCausasTramite.CausasTramite+'</td>'
		                		    +'<td>'+penalCausasTramite.averiguacionPrevia+'</td>'
		                		    +'<td>'+penalCausasTramite.fechaRadicacion+'</td>'
		                		    +'<td>'+penalCausasTramite.aprensionLiberacion+'</td>'
		                		    +'<td>'+penalCausasTramite.aprensionNegacion+'</td>'
		                		    +'<td>'+penalCausasTramite.aprensionEjecucion+'</td>'
		                		    +'<td>'
		                		    +'<button type="button" class="btn btn-default" onclick="editar('+penalCausasTramite.id+')">  <i class="fas fa-edit"></i> </button>'
		                		    +'<button type="button" class="btn btn-danger" onclick="eliminar('+penalCausasTramite.id+')"> <i class="far fa-trash-alt"></i></button>'
		                		    +'</td>'
		                		    +'</tr>'
		                });
						result +='</tbody>'
						+'</table>';
		                $("#tabla").append(result);
		            },
			        error: function (e) {
			        }
			    });
			}
	   
	   
	   $(function () {
		    //Initialize Select2 Elements
		    $('.select2').select2()

		    //Initialize Select2 Elements
		    $('.select2bs4').select2({
		      theme: 'bootstrap4'
		    })

		    //Datemask dd/mm/yyyy
		    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
		    //Datemask2 mm/dd/yyyy
		    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
		    //Money Euro
		    $('[data-mask]').inputmask()

		    //Date picker
		    $('#reservationdate').datetimepicker({
		        format: 'L'
		    });

		    //Date and time picker
		    $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

		    //Date range picker
		    $('#reservation').daterangepicker()
		    //Date range picker with time picker
		    $('#reservationtime').daterangepicker({
		      timePicker: true,
		      timePickerIncrement: 30,
		      locale: {
		        format: 'MM/DD/YYYY hh:mm A'
		      }
		    })
		    //Date range as a button
		    $('#daterange-btn').daterangepicker(
		      {
		        ranges   : {
		          'Today'       : [moment(), moment()],
		          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
		          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
		          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
		          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
		          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
		        },
		        startDate: moment().subtract(29, 'days'),
		        endDate  : moment()
		      },
		      function (start, end) {
		        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
		      }
		    )

		    //Timepicker
		    $('#timepicker').datetimepicker({
		      format: 'LT'
		    })

		    //Bootstrap Duallistbox
		    $('.duallistbox').bootstrapDualListbox()

		    //Colorpicker
		    $('.my-colorpicker1').colorpicker()
		    //color picker with addon
		    $('.my-colorpicker2').colorpicker()

		    $('.my-colorpicker2').on('colorpickerChange', function(event) {
		      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
		    })

		    $("input[data-bootstrap-switch]").each(function(){
		      $(this).bootstrapSwitch('state', $(this).prop('checked'));
		    })

		  })
		  // BS-Stepper Init
		  document.addEventListener('DOMContentLoaded', function () {
		    window.stepper = new Stepper(document.querySelector('.bs-stepper'))
		  })

		  // DropzoneJS Demo Code Start
		  Dropzone.autoDiscover = false

		  // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
		  var previewNode = document.querySelector("#template")
		  previewNode.id = ""
		  var previewTemplate = previewNode.parentNode.innerHTML
		  previewNode.parentNode.removeChild(previewNode)

		  var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
		    url: "/target-url", // Set the url
		    thumbnailWidth: 80,
		    thumbnailHeight: 80,
		    parallelUploads: 20,
		    previewTemplate: previewTemplate,
		    autoQueue: false, // Make sure the files aren't queued until manually added
		    previewsContainer: "#previews", // Define the container to display the previews
		    clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
		  })

		  myDropzone.on("addedfile", function(file) {
		    // Hookup the start button
		    file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file) }
		  })

		  // Update the total progress bar
		  myDropzone.on("totaluploadprogress", function(progress) {
		    document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
		  })

		  myDropzone.on("sending", function(file) {
		    // Show the total progress bar when upload starts
		    document.querySelector("#total-progress").style.opacity = "1"
		    // And disable the start button
		    file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
		  })

		  // Hide the total progress bar when nothing's uploading anymore
		  myDropzone.on("queuecomplete", function(progress) {
		    document.querySelector("#total-progress").style.opacity = "0"
		  })

		  // Setup the buttons for all transfers
		  // The "add files" button doesn't need to be setup because the config
		  // `clickable` has already been specified.
		  document.querySelector("#actions .start").onclick = function() {
		    myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
		  }
		  document.querySelector("#actions .cancel").onclick = function() {
		    myDropzone.removeAllFiles(true)
		  }
		  // DropzoneJS Demo Code End
</script>
</body>
</html>